$main_light_color: #c42825;
.poster {
  position: relative;
  opacity: 0.9;

  img {
    height: 100%;
    width: 100%;
  }
  .title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 13%;
    padding: 4%;
    position: absolute;
    bottom: 0;
    background-color: $main_light_color;
    opacity: 0.8;

    color: white;
    font-weight: bold;
    font-size: 300%;
  }
}

.poster:hover {
  opacity: 1;
  .title {
    opacity: 1;
  }
}
